<?xml version="1.0" encoding="utf-8"?>
<application>
	<details>
		<name>Nexo Woo</name>
		<namespace>nexo_woo</namespace>
		<description>Add Support for WooCommerce on NexoPOS</description>
		<version>1.0</version>
		<author>Blair Jersyer</author>
		<main>nexo_woo.php</main>
	</details>
</application>