<?xml version="1.0" encoding="utf-8"?>
<application>
	<details>
		<name>Woo Sync for NexoPOS</name>
		<author>Blair Jersyer</author>
		<version>1.0</version>
		<description>Syncs sale automatically sales from NexoPOS to WooCommerce website and from WooCommerce to NexoPOS</description>
		<main>nexo_woo.php</main>
		<language>/language</language>
		<namespace>nexo_woo</namespace>
	</details>
</application>