<?xml version="1.0" encoding="UTF-8"?>
<application>
    <name>Gastro</name>
    <namespace>gastro</namespace>
    <version>1.4.4-beta-2</version>
    <author>Blair Jersyer</author>
    <description>Add feature for restaurant to NexoPOS.</description>
    <language>/language</language>
    <main>gastro.php</main>
</application>
