<?xml version="1.0" encoding="UTF-8"?>
<application>
  <name>NexoPOS C.Display</name>
  <namespace>nexo_customer_display</namespace>
  <main>nexo_customer_display.php</main>
  <author>Blair Jesyer</author>
  <description>Provide a screen where customer can see the current cart details</description>
  <version>1.9.9</version>
  <dependencies>
      <module namespace="nexo">Nexo</module>
  </dependencies>
</application>
