<?xml version="1.0"?>
<application>
	<namespace>isayfer</namespace>
	<name>IsayFer</name>
	<description>Isay-Fer Module</description>
	<version>1.2</version>
	<main>isayfer.php</main>
	<language>language/</language>
	<dependencies>
		<module namespace="grocerycrud">Grocery Crud</module>
	</dependencies>
</application>
