<?xml version="1.0" encoding="utf-8"?>
<application>
	<details>
		<name>Nexo PlayGround Manager</name>
		<namespace>nexo-playground-manager</namespace>
		<author>Blair Jersyer</author>
		<description>Nexo Playground let you manage your playgound easily with package, subscription and an easy time management system.</description>
		<version>1.0</version>
		<main>nexo-playground-manager.php</main>
		<language>/language</language>
	</details>
</application>