<application>
    <name>Calendario</name>
    <namespace>alvaro</namespace>
    <version>1.5.12</version>
    <author>Blair Jersyer</author>
    <description>Agregar al calendario NexoPOS de características para el software de cita.</description>
    <language>/language</language>
    <main>alvaro.php</main>
    <dependencies>
        <module namespace="nexo">Nexo</module>
        <module namespace="angular_material">Angular Material</module>
    </dependencies>
</application>
