<?xml version="1.0" encoding="utf-8"?>
<application>
	<details>
		<name>Nexo : Restaurant Extension</name>
		<namespace>nexo_restaurant</namespace>
		<description>Brings restaurant feature to NexoPOS</description>
		<version>1.1</version>
		<author>Blair Jersyer</author>
		<main>nexo_restaurant.php</main>
	</details>
</application>